/* app css stylesheet */

.table-responsive
{
    overflow-x: auto;
}

a.facebook-login-btn:hover{
    color:#ffffff;
}
a.facebook-login-btn{
    width:100%;
    height:50px;
    font-size:18px;
    padding:0 20px;
    margin-bottom:20px;
    background:#35599d;
    color:#ffffff;
    font-weight:bold;
    line-height:50px;
    text-align:center;
    display:block;
    position:relative;
}

a.facebook-login-btn img{
    position:absolute;
    left:17px;
    top:9px;
}
/*input:required {
  border: 1px solid red;
  outline: none;
}
*/


input:invalid {
    border-color:#f00;
}
.error {
    color: red;
}
.participants-area {
    background-color: white;
    padding: 20px;
}

div.thumbnail .img-circle {
    padding: 0px !important;
    opacity: 0.5;
}

div.img-div{
    height:100px;
    width:100px;
    overflow:hidden;
    border-radius:50%;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}

.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("http://placekitten.com/g/200/400");
    display:block;
    background-position-y:25%;
}

div.thumbnail .img-circle .selected {
    border-color: #428bca;
    opacity: 1.0 !important;
}

body {
	background: #eee !important;	
    padding-top: 70px;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.wrapper {	
	margin-top: 80px;
    margin-bottom: 80px;
}
.form-signin
{
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
  .form-signin-heading {
	  margin-bottom: 30px;
	}
/*.container-fluid {
    background-color: #eee;
    height: 100%;
}
*/
#filter{
    margin-bottom: 20px;
}

.dropdown-menu li:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#submitform{
    margin-top: 20px;
}
#admin-actions>li{
    padding: 0 5px;
}