<h2>Create event</h2>

<form name="createEventForm" role="form">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="eventTitle">Event title (required)</label>
                    <input data-ng-model="title" name="eventTitle" required type="text" class="form-control" id="eventTitle" placeholder="Enter event title">
                </div>
                <div ng-controller="DatepickerController">
                    <h4>Popup</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'9999-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div ng-controller="TimepickerController">
                    <timepicker ng-model="eventtime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="!ismeridian"></timepicker>
                </div>
                    


            </div>
            <div class="col-md-offset-6">
                <!--OFFSET-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="eventDescription">Event description</label>
                <textarea class="form-control" rows="5" name="eventDescription" placeholder="Write something about event"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group participants-area">
            <label for="participants">Participants:</label>
            <ol class="list-inline">
                <li data-ng-repeat="user in users">
                    <div data-ng-click="addToParticipants(user.id)" data-ng-class="{'selected':isExist(user.id)}">
                        <img data-ng-hide="user.get('photo') == null || user.get('photo') === 'undefined'" class="img-circle" src="{{user.get('photo')}}" />
                        <img data-ng-show="user.get('photo') == null || user.get('photo') === 'undefined'" class="img-circle" src="../img/defaultUserPic.png" />
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <a class="btn btn-primary" href="/events">Back to event list</a>
            <button data-ng-disabled="createEventForm.$invalid" class="btn btn-default" type="submit" data-ng-click="createEvent()">Save event</button>
        </div>
    </div>
</form>