<div class="container search">
    <h2>Edit <i>{{event.get('title')}}</i> event</h2>

    <div>
        <form role="form">

            <div class="form-group row participants-area">
                <label for="participants">Check participants:</label>
                <ul class="list-inline">
                    <li data-ng-repeat="user in users">
                        <div class="thumbnail img-circle" data-ng-click="addToParticipants(user.id)" data-ng-class="{'selected':isExist(user.id)}">
                            <img data-ng-hide="user.get('photo') == null || user.get('photo') === 'undefined'" class="img-circle" src="{{user.get('photo')}}" />
                            <img data-ng-show="user.get('photo') == null || user.get('photo') === 'undefined'" class="img-circle" src="../img/defaultUserPic.png" />
                        </div>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <!--data-ng-hide ="{{ submittedBy  != null}}"-->
                <button data-ng-click="dellEvent()" type="submit" class="btn btn-default">Delete event</button>
                <button data-ng-click="updateEvent()" type="submit" class="btn btn-default">Save changes</button>
                <button data-ng-click="submitEvent()" type="submit" class="btn btn-default">Submit event</button>
            </div>
            <div>
                <!--data-ng-show="{{ submittedBy != null}}"{{ users.get('name') submittedBy}}-->

            </div>


            <div data-ng-show="{{lastEventDate}}">
                <p>Last time event submitted: {{ lastEventDate | date : 'yyyy-MM-dd HH:mm'}}</p>
            </div>
            <div data-ng-hide="{{lastEventDate}}">
                <p>This event was not submitted yet.</p>
            </div>
        </form>
    </div>

    <p>
        <a class="btn btn-primary" href="/events">Go back to events</a>
    </p>

</div>
