<div class="container-fluid search">
    <h2>List of all events</h2>
    <div class="input-group col-md-3" id="filter">
        <span class="input-group-addon">Filter</span>
        <input class="form-control" type="text" data-ng-model="searchQry" placeholder="Type here" />
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-field="title" class="col-md-8">Title</th>
                    <th data-field="summary action" class="col-md-2">Date</th>
                    <th data-field="summary action" class="col-md-1">Summary</th>
                    <th data-field="edit action" class="col-md-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="event in events | filter: searchQry ">
                    <td>{{ event.get('title') }}</td>
                    <td>{{ event.get('eventDate') | date: 'yyyy-MM-dd HH:mm' }}</td>
                    <td><a data-ng-href="/summary/{{event.id}}">Summary</a></td>
                    <td>
                        <ul class="navbar-nav list-unstyled" id="admin-actions">
                            <li><a data-ng-href="/editEvent/{{event.id}}"><i class="glyphicon glyphicon-pencil"></i></a></li>
                            <li><a data-ng-click="dellEvent({{event.id}})"><i class="glyphicon glyphicon-remove-sign"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <button>Hello</button>
    </div>
