<section id="main">
        <div class="top">
            <div class="container">
                <a href="#" class="trigger">&#9776;</a>
                <div class="profile" data-ng-controller="loginController">
                    <button class="ui-link" data-ng-click="fbLogout()">Logout</button>
                    <img src="{{profileImg}}"/>
                    <span>{{username}}</span>
                </div>
            </div>
        </div>

        
    </section>


