<div class="wrapper">
    <form class="form-signin" role="form" >
        <h2 class="form-signin-heading">Please sign in</h2>
        <!--<button class="btn btn-lg btn-primary btn-block" data-ng-click="fbLogin()">Login with Facebook</button>-->
        
        <a href="#"  data-ng-click="fbLogin()" class="facebook-login-btn"><img src="img/facebook.png" alt=""/>Login with Facebook</a>
        

    </form>
</div>

