﻿<div class="col-md-2">
    <div class="col-sm-3 col-md-2 sidebar" data-ng-show="isLogged">
        <ul class="nav nav-sidebar">
            <li><a class="btn btn-primary" href="/createEvent">Create event</a></li>
        </ul>
    </div>
</div>