﻿<div class="container">
    <h2>Statistics</h2>

    <select data-ng-model="chartType" data-ng-hide="data1.data.length === 0 || data1.data.length === 'undefined'">
        <option value="pie">pie</option>
        <option value="bar">bar</option>
    </select>

    <span data-ng-show="chartType==='pie'" data-ng-hide="data1.data.length === 0 || data1.data.length === 'undefined'">
        <label for="innerRadius">Radius:</label>
        <input data-ng-model="config1.innerRadius" type="number" id="innerRadius" />
    </span>
    <br />
    
    <div style="margin: 0 auto;" data-ng-show="data1.data.length === 0 || data1.data.length === 'undefined'">
        <h3>This event was not submitted yet. Statistic will be available when event will be submitted at least one time.</h3>
    </div>
    
    
    <div id="chart1" style="height: 250px" data-ac-chart="chartType" data-ac-data="data1" data-ac-config="config1"></div>
    
</div>

<p>
    <a class="btn btn-primary" href="/events">Go back to events</a>
</p>
