<div class="container search">
    <h2>List of all users</h2>
   <div class="input-group col-md-3">
        <span class="input-group-addon">Filter</span>
        <input class="form-control" type="text" data-ng-model="searchQry" placeholder="Type here.." />
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-field="user name" class="col-md-11">User name</th>
                    <th data-field="edit action" class="col-md-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users | filter: searchQry ">
                    <td><a data-ng-href="/editUser/{{user.id}}">{{ user.get('name') }}</a></td>
                    <th><a data-ng-href="/dellUser/{{user.id}}"><i class="glyphicon glyphicon-remove"></i></a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>