﻿<!doctype html>
<html lang="en" data-ng-app="app">
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beta App</title>

    <link rel="stylesheet" href="css/app.css">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        -->
</head>
<body>

    <div id="fb-root"></div>

    <div class="container">
        <nav class="container" data-ng-controller="loginController">
            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-fixed-top" data-ng-show="isLogged">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/events">Solid Education</a>
                    </div>


                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" data-ng-show="true">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-show="true"><a href="/events">Event List</a></li>
                                    <li data-ng-show="true"><a href="/createEvent">Add event</a></li>
                                </ul>
                            </li>
                            <li data-ng-show="true"><a href="/users">Users</a></li>
                        </ul>
                        <div class="navbar-form navbar-right">
                            <img class="navbar-brand" style="padding: 0px" src="{{profileImg}}" />
                            <span class="navbar-text">{{username}}</span>
                            <button class="btn btn-default navbar-btn" data-ng-click="fbLogout()">Logout</button>
                        </div>
                    </div>
                </div>
            </nav>
        </nav>
        <div data-ng-view></div>
    </div>

</body>

<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.0.min.js"></script>

<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="lib/angular/angular-resource.js"></script>
<script type="text/javascript" src="lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="lib/d3.v3.min.js"></script>
<script src="lib/angular-charts.min.js"></script>

<script type="text/javascript" src="src/app.js"></script>

<!--Services-->
<script type="text/javascript" src="src/services/ParseService.js"></script>
<script src="src/services/AuthService.js"></script>
<script type="text/javascript" src="src/config/routes.js"></script>

<!--Controller-->
<script type="text/javascript" src="src/controllers/loginController.js"></script>
<script type="text/javascript" src="src/controllers/eventsController.js"></script>
<script type="text/javascript" src="src/controllers/datePickerController.js"></script>
<script type="text/javascript" src="src/controllers/createEventController.js"></script>
<script type="text/javascript" src="src/controllers/editEventController.js"></script>
<script type="text/javascript" src="src/controllers/usersController.js"></script>
<script type="text/javascript" src="src/controllers/datePickerController.js"></script>
<script type="text/javascript" src="src/controllers/timePickerController.js"></script>
<script src="src/controllers/summaryController.js"></script>
</html>
